h1{
    font-size: 60px;
    background-color: lightcoral;
    color: #FFFFFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;

}

h2{
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}